/* .navbar{
    width: 100%;
    position: sticky;
    background-color: blue;
    padding: 1.5rem 3rem;
    background-color: var(--black);
    z-index: 100;
    justify-content: space-between;
    display: flex;
    align-items: center;
} */

/* drop-shadow(4px 4px 10px rgba(58, 128, 233, 0.5)); */
/* npm install @mui/material @emotion/react @emotion/styled */

